customtitle {font-weight: 600;}
customtitle2 {font-weight: 600; color: #00838f;}
customtitle3 {font-weight: 600; color: #b71c1c;}
rodape {font-size: 13px; font-weight: 400; color: #e0e0e0;}
rodapey {font-size: 13px; font-weight: 400; color: #0097a7;}